$(document).ready(function() {
    $('.approve_link').click(function() {
        show_approve_reject_dialog('<%= t('approvals.approve_deployment') %>', '<%= t('approvals.approve') %>', $(this).attr('data-url'));
    });

    $('.reject_link').click(function() {
        show_approve_reject_dialog('<%= t('approvals.reject_deployment') %>', '<%= t('approvals.reject') %>', $(this).attr('data-url'));
    });
});

function show_approve_reject_dialog(title, button_label, url, type) {
    if (type === undefined) {
        type = BootstrapDialog.TYPE_PRIMARY;
    }

    BootstrapDialog.show({
        title: title,
        message: '<form id="approver_comment_form"><h4><%= t('approvals.approver_comment') %>:</h4><textarea cols="67" name="approver_comment" id="approver_comment"></textarea></form>',
        type: type, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
        closable: true, // <-- Default value is false
        draggable: true, // <-- Default value is false
        buttons: [{
            label: button_label,
            cssClass: 'btn-primary',
            hotkey: 13, // Enter.
            action: function(dialogRef) {
                var comment_text = $("#approver_comment_form").find("#approver_comment");
                $.ajax({
                    type: "POST",
                    url: url,
                    data: JSON.stringify({'approver_comment':comment_text.val()}),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (result) {
                        console.log(result);
                        displayNotice("The approval has been " + result.workflow_state);

                        var status_td = $('#approval_' + result.id + '_status');
                        var deployer_comment_td = $('#approval_' + result.id + '_approver_comment');

                        status_td.html((result.workflow_state.charAt(0).toUpperCase() + result.workflow_state.slice(1)).titleize());
                        deployer_comment_td.html(result.approver_comment);

                        status_td.effect("pulsate", {times:1}, 1000);
                        deployer_comment_td.effect("pulsate", {times:1}, 1000);

                        if (result.workflow_state == 'approved' || result.workflow_state == 'rejected') {
                            $("#approve_reject_links_" + result.id).hide();
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        var json = jQuery.parseJSON(xhr.responseText);
                        displayAlert(json.message);
                    }
                });

                comment_text.val('');
                dialogRef.close();
            }
        }]
    });
}
