<div class="approvals">
<script>
    <%= render partial: 'approvals/approve_reject', formats: [:js] %>
</script>
<div class="panel panel-default">
  <div class="panel-heading">
    <%= defined?(panel_title) ? panel_title : t('approvals.approvals') %>
  </div>
  <div class="panel-body">
    <table class='data_table' id="approvals_table">
      <thead>
      <tr>
        <th><%= t('applications.application') %></th>
        <th><%= t('deployments.deployment_id') %></th>
        <th><%= t('environments.environment') %></th>
        <th><%= t('general.created_on') %></th>
        <th><%= t('approvals.status') %></th>
        <th><%= t('general.actions.actions') %></th>
      </tr>
      </thead>
      <tbody>
      <% approvals.each do |approval| %>
          <tr id="approval_<%= approval.id %>">
            <td><%= link_to approval.deployment.application.name, approval.deployment.application %></td>
            <td><%= link_to approval.deployment.id, application_deployment_path(approval.deployment.application, approval.deployment) %></td>
            <td><%= approval.environment.name %></td>
            <td><%= link_to approval.created_at.strftime(t('general.timestamp_to_str')), application_deployment_deployment_environment_approval_path(approval.deployment.application, approval.deployment, approval.deployment_environment, approval) %></td>
            <td id="approval_<%= approval.id %>_status"><%= approval.current_state.to_s.titleize %></td>
            <td>
              <% if show_approve_reject_links(approval) %>
              <div id="approve_reject_links_<%= approval.id %>">
                <%= link_to t('approvals.approve'), '#', id: "approve_link_#{approval.id}", class: 'approve_link', data: { url: approve_api_application_deployment_deployment_environment_approval_path(approval.deployment.application, approval.deployment, approval.deployment_environment, approval) } %>
                <%= link_to t('approvals.reject'), '#', id: "reject_link_#{approval.id}", class: 'reject_link', data: { url: reject_api_application_deployment_deployment_environment_approval_path(approval.deployment.application, approval.deployment, approval.deployment_environment, approval) }  %>
              </div>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>