<script>
    <%= render partial: 'approve_reject', formats: [:js] %>
</script>
<h1><%= @approval.deployment.application.name.titleize %> - <%= @approval.deployment.id %></h1>
<br />
<div class="panel panel-default">
  <div class="panel-heading"><%= t('approvals.approval_attributes') %></div>

  <table class="table">
    <tr>
      <th><%= t('look_and_feel.account.attributes.name') %></th>
      <th><%= t('look_and_feel.account.attributes.attribute') %></th>
    </tr>
    <tr>
      <td><%= t('approvals.status') %></td>
      <td id="approval_<%= @approval.id %>_status"><%= @approval.current_state.to_s.titleize%></td>
    </tr>
    <tr>
      <td><%= t('approvals.approver_comment') %></td>
      <td id="approval_<%= @approval.id %>_approver_comment"><%= @approval.approver_comment %></td>
    </tr>
    <tr>
      <td><%= t('applications.application') %></td>
      <td><%= link_to @approval.deployment.application.name, application_path(@approval.deployment.application) %></td>
    </tr>
    <tr>
      <td><%= t('deployments.deployment') %></td>
      <td><%= link_to @approval.deployment.id, application_deployment_path(@approval.deployment.application, @approval.deployment) %></td>
    </tr>
    <tr>
      <td><%= t('environments.environment') %></td>
      <td><%= @approval.environment.name.titleize %></td>
    </tr>
    <tr>
      <td><%= t('general.actions.actions') %></td>
      <td>
        <% if show_approve_reject_links(@approval) %>
            <%= link_to t('approvals.approve'), '#', id: "approve_link_#{@approval.id}", class: 'approve_link', data: { url: approve_api_application_deployment_deployment_environment_approval_path(@approval.deployment.application, @approval.deployment, @approval.deployment_environment, @approval) } %>
            <%= link_to t('approvals.reject'), '#', id: "reject_link_#{@approval.id}", class: 'reject_link', data: { url: reject_api_application_deployment_deployment_environment_approval_path(@approval.deployment.application, @approval.deployment, @approval.deployment_environment, @approval) }  %>
        <% else %>
          <%= t('general.not_applicable') %>
        <% end %>
      </td>
    </tr>
  </table>
</div>