<br />
<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('mailer_notification_permissions.mailer_notification_permissions') %>
  </div>
  <div class="panel-body">
    <table class='data_table' id="roles_table">
      <thead>
      <tr>
        <th><%= t('mailer_notification_permissions.name') %></th>
        <th><%= t('mailer_notification_permissions.description') %></th>
        <th><%= t('mailer_notification_permissions.mailer_name') %></th>
        <th><%= t('mailer_notification_permissions.method_name') %></th>
      </tr>
      </thead>
      <tbody>
      <% @mailer_notification_permissions.each do |p| %>
          <tr>
            <td><%= p.name.titleize %></td>
            <td><%= p.description %></td>
            <td><%= p.mailer_name %></td>
            <td><%= p.method_name %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>