<div class="panel panel-default" style="height: 100%">
  <div class="panel-heading"><%= t('users.notifications') %></div>

  <table class="table">
    <tr>
      <th><%= t('mailer_notification_permissions.name') %></th>
      <th><%= t('mailer_notification_permissions.description') %></th>
      <th><%= t('user_mailer_notification_permissions.send_notification') %></th>
    </tr>
    <% user_mailer_notification_permissions.sort_by { |umnp| umnp.mailer_notification_permission.name }.sort.each do |p| %>
        <tr>
          <td><%= p.mailer_notification_permission.name.titleize %></td>
          <td><%= p.mailer_notification_permission.description %></td>
          <td><%= boolean_to_string p.send_notification %></td>
        </tr>
    <% end %>
  </table>
</div>