<div class="approval_groups">
  <div class="panel panel-default">
    <div class="panel-heading"><%= defined?(panel_title) ? panel_title : t('approval_groups.approval_groups') %></div>

    <table class="table">
      <tr>
        <th><%= t('approval_groups.name') %></th>
        <th><%= t('approval_groups.description') %></th>
        <th><%= t('general.actions.actions') %></th>
      </tr>
      <% approval_groups.each do |approval_group| %>
          <tr id="approval_group_<%= approval_group.id %>">
            <td><%= link_to approval_group.name, approval_group_path(approval_group) %></td>
            <td><%= approval_group.description %></td>
            <td>
              <%= link_to t('general.actions.edit'), edit_admin_approval_group_path(approval_group) %>
              <%= link_to t('general.actions.delete'), admin_approval_group_path(approval_group), :confirm => t('general.are_you_sure'), :method => :delete %>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
</div>