<br />
<%= render 'approval_groups', approval_groups: @approval_groups %>

<% if can? :create, ApprovalGroup %>
    <span class='actions'>
      <%= link_to t('general.actions.new'), new_admin_approval_group_path, :id => 'new_admin_approval_group_link' %>
    </span>
<% end %>