<h1><%= @approval_group.name.titleize %></h1>
<br />
<div class="panel panel-default">
  <div class="panel-heading"><%= t('approval_groups.approval_group_attributes') %></div>

  <table class="table">
    <tr>
      <th><%= t('look_and_feel.account.attributes.name') %></th>
      <th><%= t('look_and_feel.account.attributes.attribute') %></th>
    </tr>
    <tr>
      <td><%= t('approval_groups.description') %></td>
      <td><%= @approval_group.description %></td>
    </tr>
  </table>
</div>
<br />
<%= render 'admin/users/users', { users: @approval_group.users, panel_title: t('approval_groups.associated_users')} %>