<li><%= link_to "Admin Home", admin_path %></li>
<li role="presentation" class="divider"></li>
<% Admin::ADMIN_PAGES.each do |name,attributes| %>
  <% next unless can?(:read, name.to_s.singularize.camelcase.constantize) %>
  <li><%= link_to name.to_s.titleize, attributes[:path] %></li>
<% end %>