<div id="footer_menu">
<ul>
  <% if user_signed_in? %>
    <%= link_to(t('api.api_docs'), api_api_index_path) if can? :read, :api %>
  <% else %>
    <% if User.omniauth_providers && User.omniauth_providers.include?(:auth_man) %>
          <li><%= link_to t('users.local_login'), new_user_session_path %></li>
    <% end %>
  <% end %>
</ul>
</div>