<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title="<%= t('users.my_account') %>"><%= show_gravatar(APP_CONFIG) ? (image_tag(gravatar_url ? gravatar_url : user.gravatar_url(:size => 20))) : user.full_name_comma %> <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <% if show_gravatar(APP_CONFIG) %>
        <li class="navbar-text"><%= "Welcome, #{user.fname}!" %></li>
        <li class="divider"></li>
    <% end %>
    <li><%= link_to t('look_and_feel.account.my_account'), my_account_path ? my_account_path : user_path %></li>
    <% if can? :create, Deployment %>
    <li class="divider"></li>
    <li><%= link_to t('deployment_templates.my_deployment_templates'), deployment_templates_path(personal: true) %></li>
    <% end %>
    <% if can?(:approve, Approval) || can?(:reject, Approval) || can?(:waiting, Approval) %>
        <li><%= link_to t('approvals.my_approvals'), waiting_approvals_path %></li>
    <% end %>
    <li class="divider"></li>
    <%= render 'devise/menu/login_items' %>
  </ul>
</li>