<% if can? :read, Application %>
<li><%= link_to t('applications.applications'), applications_path %></li>
<% end %>
<% if can?(:read, :audit) %>
    <li><%= link_to t('audited.audits'), admin_audits_path %></li>
<% end %>
<% if can? :read, Dashboard %>
<li><%= link_to t('dashboards.dashboards'), dashboards_path %></li>
<% end %>