<div class="panel panel-default">
  <div class="panel-heading">
    <%= defined?(panel_title) ? panel_title : t('audited.audits') %>
  </div>
  <div class="panel-body">
    <table id='audits_table' class='data_table_manual' data-source="<%= api_audits_path(format: :json, datatable: true) %>">
      <thead>
      <tr>
        <th><%= t('audited.id') %></th>
        <th><%= t('audited.audit_version') %></th>
        <th><%= t('general.created_on') %></th>
        <th><%= t('audited.changed_by') %></th>
        <th><%= t('audited.resource_name') %></th>
        <th><%= t('audited.resource_id') %></th>
        <th><%= t('audited.resource_type') %></th>
        <th><%= t('audited.action') %></th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>