<div class="audit_changes">
  <div class="panel panel-default">
    <div class="panel-heading"><%= defined?(panel_title) ? panel_title : t('audited.audit_changes') %></div>

    <table class="table">
      <tr>
        <th><%= t('audited.attribute') %></th>
        <th><%= t('audited.original_value') %></th>
        <th><%= t('audited.new_value') %></th>
      </tr>
      <% audited_changes.each do |key,changes| %>
          <tr>
            <td><%= key %></td>
            <td><%= changes.is_a?(Array) ? changes.first : t('general.not_applicable') %></td>
            <td><%= changes.is_a?(Array) ? changes.last : changes %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>