<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading"><%= t('audited.audit_attributes') %></div>
        <table class="table">
          <tr>
            <th><%= t('look_and_feel.account.attributes.name') %></th>
            <th><%= t('look_and_feel.account.attributes.attribute') %></th>
          </tr>
          <tr>
            <td><%= t('audited.resource_type') %></td>
            <td><%= @audit.auditable_type %></td>
          </tr>
          <tr>
            <td><%= t('audited.action') %></td>
            <td><%= @audit.action %></td>
          </tr>
          <tr>
            <td><%= (t('audited.changed_by')) %></td>
            <td><%= @audit.user ? @audit.user.full_name_with_email : t('audited.username.unknown') %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-7">
      <%= render 'admin/audits/audit_changes', { audited_changes: @audit.audited_changes} %>
    </div>
  </div>
</div>
<br />
<span class='actions'>
  <%= link_to 'Back', :back %>
</span>
