<h1><%= t('general.editing') % t('general.my_account') %></h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>
    <%= resource.email %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="field">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <% if session['devise_login_type'].nil? %>
    <div class="field">
      <%= f.label :password %>&nbsp;<i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, :autocomplete => 'off' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time_zone %>
    <%= f.collection_select :time_zone, ActiveSupport::TimeZone.all, :name, :to_s %>
  </div>

  <div class="field">
    <%= f.label :default_dashboard %>
    <%= f.collection_select :default_dashboard_id, users_valid_dashboards, :id, :name %>
  </div>

  <div class="field">
    <%= label_tag :notifications, t('users.notifications') %>
    <ul>
      <%= f.fields_for :user_mailer_notification_permissions, resource.user_mailer_notification_permissions.sort_by { |p| p.mailer_notification_permission.name } do |builder| %>
        <% mailer_notification_permission = builder.object.mailer_notification_permission %>
        <%= builder.hidden_field :mailer_notification_permission_id %>

        <li><%= builder.check_box :send_notification %> <%= mailer_notification_permission.name.titleize %> - <%= mailer_notification_permission.description %></li>
      <% end %>
    </ul>
  </div>

  <div class="actions">
    <%= f.submit 'Update' %>
  </div>
<% end %>

<%= link_to 'Back', :back %>
