<h1><%= t('api.explore_api') % t('application.name') %></h1>
<script>
    $(document).ready(function() {
        window.swaggerUi = new SwaggerUi({
            url: '/swagger_docs/api-docs.json',
            dom_id:"swagger-ui-container",
            supportHeaderParams: false,
            supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch'],
            onComplete: function(swaggerApi, swaggerUi){
                if(console) {
                    console.log("Loaded SwaggerUI");
                    console.log(swaggerApi);
                    console.log(swaggerUi);
                }
                $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
            },
            onFailure: function(data) {
                if(console) {
                    console.log("Unable to Load SwaggerUI");
                    console.log(data);
                }
            },
            docExpansion: "none"
        });

        window.swaggerUi.load();
    });
</script>
<div class="panel panel-default">
  <div class="panel-heading">
    <%= defined?(panel_title) ? panel_title : "API Docs" %>
  </div>
  <div class="panel-body">
    <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
  </div>
</div>