<div class="panel panel-default">
  <div class="panel-heading">
    <%= defined?(panel_title) ? panel_title : t('applications.applications') %>
  </div>
  <div class="panel-body">
    <table class='data_table' id="applications_table">
      <thead>
      <tr>
        <th><%= t('applications.name') %></th>
        <th><%= t('deployment_modules.deployment_module') %></th>
        <th><%= t('general.created_by') %></th>
        <th><%= t('general.created_on') %></th>
        <th><%= t('general.actions.actions') %></th>
      </tr>
      </thead>
      <tbody>
      <% applications.each do |application| %>
          <tr id="application_<%= application.id %>">
            <td><%= link_to application.name, application_path(application) %></td>
            <td><%= application.deployment_module %></td>
            <td><%= application.user %></td>
            <td><%= application.created_at.strftime(t('general.timestamp_to_str')) %></td>
            <td>
              <%= link_to t('applications.create_deployment'), new_application_deployment_path(application) if can? :create, Deployment %>
              <%= link_to t('general.actions.edit'), edit_application_path(application) if can? :edit, Application %>
              <%= link_to t('general.actions.delete'), application_path(application), :confirm => t('general.are_you_sure'), :method => :delete if can? :destroy, Application %>
              <%= render partial: 'shared/watch_unwatch', locals: { resource: application, user: current_user } %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>