<%= form_for(@application) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, t('general.error')) %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <div class="panel panel-default">
            <div class="panel-heading">
              <%= t('applications.application_information') %>
            </div>
            <div class="panel-body">
              <div class="field">
                <%= f.label :name %><br>
                <%= f.text_field :name %>
              </div>
              <div class="field">
                <%= f.label :deployment_module %>
                <%= f.collection_select :deployment_module_id, DeploymentModule.all.sort_by { |dm| dm.name }, :id, :name, { include_blank: true } %>
              </div>
              <div class="field">
                <%= f.label :deployment_parameters %>
                <%= f.text_area :deployment_parameters, value: @deployment_parameters %>
              </div>
              <div class="field">
                <%= f.label :cc_users, t('applications.cc') %>
                <%= f.collection_select :cc_user_ids, @application.cc_users, :id, :name, {}, { multiple: true, style: 'width: 250px', class: 'cc_user_ids'} %>
                <%= cc_users_js(@cc_users) if @cc_users %>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <%= t('environments.environments') %>
            </div>
            <div class="panel-body">
              <div id="environments">
                <h3><%= t('environments.environments') %>
                  <span class='actions'><%= link_to t('general.add'), '', :class => 'duplicate_nested_form' %></span>
                </h3>
                <%= f.fields_for :environments do |environment_form| %>
                    <div class="duplicatable_nested_form">
                      <div class="field">
                        <%= environment_form.label :name %>
                        <%= environment_form.text_field :name %>
                      </div>
                      <div class="field">
                        <%= environment_form.label :deployment_parameters %>
                        <%= environment_form.text_area :deployment_parameters, value: environment_deployment_params(environment_form.index, @application, environment_form.object), class: 'application_environments_attributes_deployment_parameters' %>
                      </div>
                      <div class="field">
                        <%= environment_form.label :deployment_order %>
                        <%= environment_form.number_field :deployment_order %>
                      </div>
                      <% if AppConfig.get(%W(akamai_purge enable), APP_CONFIG) %>
                        <div class="field">
                          <%= environment_form.label :akamai_cp_codes, t('akamai_purge.akamai_cp_codes') %>
                          <%= environment_form.text_field :akamai_cp_codes, value: akamai_cp_codes_to_string(environment_form.object.akamai_cp_codes) %>
                        </div>
                      <% end %>
                      <div class="field">
                        <% if environment_form.object.new_record? %>
                            <%= link_to t('general.remove'), '', :remote => true, :class => 'destroy_duplicate_nested_form' %>
                        <% else %>
                            <%= link_to t('general.remove'), api_application_environment_path(@application, environment_form.object), :method => :delete, :remote => true, :class => 'destroy_duplicate_nested_form', :format => :json %>
                            <%= environment_form.hidden_field(:id) %>
                        <% end %>
                      </div>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="panel panel-default">
            <div class="panel-heading">
              <%= t('approvals.approvals') %>
            </div>
            <div class="panel-body">
              <div class="field">
                <%= f.label :approval_count %>
                <%= f.number_field :approval_count %>
              </div>
              <div class="field">
                <%= f.label :approval_groups %>
                <%= f.collection_select :approval_group_ids, ApprovalGroup.all.sort_by { |ag| ag.name }, :id, :name, {}, { multiple: true } %>
              </div>
              <div class="field">
                <%= f.label :allow_self_approval, t('applications.allow_self_approval') %>
                <%= f.check_box :allow_self_approval %>
              </div>
            </div>
          </div>
          <% if ticketing_system_enabled?(:jira) %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <%= t('resource_ticketing_system_permissions.resource_ticketing_system_permissions') %>
            </div>
            <div class="panel-body">
              <%= render 'shared/resource_ticketing_system_permissions_fields', form: f, resource: @application %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div style="margin: auto;
                  width: 60%;
                  padding: 10px;">
            <%= f.submit %>
          </div>
        </div>
      </div>
    </div>
<% end %>
