<h1><%= t('general.listing') % t('applications.applications') %></h1>

<%= render 'applications', applications: @applications %>

<% if can? :create, Application %>
<span class='actions'>
  <%= link_to t('general.actions.new'), new_application_path %>
</span>
<% end %>
