<h1><%= @application.name.titleize %>
  <% if can? :create, Deployment %>
    <span class='actions'><%= link_to t('applications.create_deployment'), new_application_deployment_path(@application) %></span>
  <% end %></h1>
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><%= t('applications.applications_attributes') %></div>
        <table class="table">
          <tr>
            <th><%= t('look_and_feel.account.attributes.name') %></th>
            <th><%= t('look_and_feel.account.attributes.attribute') %></th>
          </tr>
          <tr>
            <td><%= t('applications.number_of_approvals_needed') %></td>
            <td><%= @application.approval_count %></td>
          </tr>
          <tr>
            <td><%= t('deployment_modules.deployment_module') %></td>
            <td><%= @application.deployment_module %></td>
          </tr>
          <tr>
            <td><%= t('applications.deployment_parameters') %></td>
            <td><%= @application.deployment_parameters %></td>
          </tr>
          <% if @application.needs_approvals? %>
          <tr>
            <td><%= t('applications.can_self_approve') %></td>
            <td><%= @application.allow_self_approval %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <%= render 'shared/people', { resource: @application, api_url: api_application_path(@application)} %>
      <%= render 'environments/environments', { environments: @application.environments } %>
      <%= render('approval_groups/approval_groups', { approval_groups: @application.approval_groups }) if @application.needs_approvals? %>
    </div>
    <div class="col-md-8">
      <%= render 'deployments/deployments', { deployments: @application.deployments } %>
    </div>
  </div>
</div>
<br />
<span class='actions'>
<% if can? :edit, Application %>
<%= link_to 'Edit', edit_application_path(@application) %>
<% end %>
  <%= link_to 'Back', :back %>
</span>
