<div class="panel panel-default">
  <div class="panel-heading">
    <%= defined?(panel_title) ? panel_title : t('deployment_templates.deployment_templates') %>
  </div>
  <div class="panel-body">
    <table class='data_table' id="deployment_templates_table">
      <thead>
      <tr>
        <th><%= t('deployment_templates.name') %></th>
        <th><%= t('applications.associated_application') %></th>
        <th><%= t('deployment_templates.public') %></th>
        <th><%= t('general.created_by') %></th>
        <th><%= t('general.created_on') %></th>
        <th><%= t('general.actions.actions') %></th>
      </tr>
      </thead>
      <tbody>
      <% deployment_templates.each do |deployment_template| %>
          <tr id="deployment_template_<%= deployment_template.id %>">
            <td><%= link_to deployment_template.name, deployment_template %></td>
            <td><%= deployment_template.application ? link_to(deployment_template.application.name, deployment_template.application) : t('general.not_applicable') %></td>
            <td><%= boolean_to_string deployment_template.public %></td>
            <td><%= deployment_template.user %></td>
            <td><%= deployment_template.created_at.strftime(t('general.timestamp_to_str')) %></td>
            <td>
              <%= link_to t('general.actions.clone'), new_deployment_template_path(clone_template_id: deployment_template.id) if can? :create, DeploymentTemplate %>
              <% if deployment_template.user == current_user || current_user.has_role?(:admin) %>
                <%= link_to t('general.actions.edit'), edit_deployment_template_path(deployment_template) if can? :edit, DeploymentTemplate %>
                <%= link_to t('general.actions.delete'), deployment_template, :confirm => t('general.are_you_sure'), :method => :delete if can? :destroy, DeploymentTemplate %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>