<% if @deployment_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deployment_template.errors.count, "error") %> prohibited this deployment_template from being saved:</h2>

      <ul>
        <% @deployment_template.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= t('deployment_templates.deployment_template_information') %>
        </div>
        <div class="panel-body">
          <div class="field">
            <%= f.label :name, :autofocus => true %><br>
            <%= f.text_field :name %>
          </div>
          <div class="field">
            <%= f.label :comment %><br>
            <%= f.text_field :comment %>
          </div>
          <div class="field">
            <%= f.label :deployment_parameters %><br>
            <%= f.text_area :deployment_parameters, value: deployment_parameters_to_string(@deployment_template.deployment_parameters) %>
          </div>
          <!-- <div class="field">
            <%= f.label :cc_users, t('deployment_templates.cc') %>
            <%= f.collection_select :cc_user_ids, @deployment_template.cc_users, :id, :name, {}, { multiple: true, style: 'width: 250px', class: 'cc_user_ids'} %>
            <%= cc_users_js(@cc_users) if @cc_users %>
          </div> -->
          <div class="field">
            <%= f.label :application %>
            <%= f.collection_select :application_id, Application.all.sort_by(&:name), :id, :name, { include_blank: true } %>
          </div>
          <div class="field">
            <%= f.label :public %><br>
            <%= f.check_box :public %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= t('ticketing_systems.ticketing_system') %>
        </div>
        <div class="panel-body">
          <div class="ticketing_system_fields">
            <div class="field">
              <%= f.label :ticket %><br>
              <%= f.text_field :ticket %>
            </div>

            <div class="field">
              <%= f.label :post_deployment_ticketing_system_user, t('deployments.post_deployment_ticket_user') %><br>
              <%= f.text_field :post_deployment_ticketing_system_user %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div style="margin: auto;
              width: 60%;
              padding: 10px;">
        <%= f.submit %>
      </div>
    </div>
  </div>
</div>
