<h1><%= t('general.editing') % @deployment_template.name %></h1>

<%= form_for(@deployment_template, :url => deployment_template_path(@deployment_template)) do |f| %>
    <%= render 'form', f: f %>
<% end %>
<br />
<br />
<br />
<%= link_to t('general.actions.back'), :back %>
