<h1><%= t('general.listing') % t('deployment_templates.deployment_template') %></h1>

<%= render 'deployment_templates', deployment_templates: @deployment_templates %>

<% if can? :create, DeploymentTemplate %>
    <span class='actions'>
  <%= link_to t('general.actions.new'), new_deployment_template_path(@application) %>
</span>
<% end %>
