<h1><%= t('general.new') % t('deployment_templates.deployment_template') %></h1>

<%= form_for(@deployment_template, :url => deployment_templates_path) do |f| %>
    <%= render 'form', f: f %>
<% end %>
<br />
<br />
<br />
<%= link_to t('general.actions.back'), :back %>
