<h1><%= @deployment_template.name %></h1>
<br />
<div class="panel panel-default">
  <div class="panel-heading"><%= t('deployment_template_attributes') %></div>

  <table class="table">
    <tr>
      <th><%= t('look_and_feel.account.attributes.name') %></th>
      <th><%= t('look_and_feel.account.attributes.attribute') %></th>
    </tr>
    <tr>
      <td><%= t('applications.associated_application') %></td>
      <td><%= @deployment_template.application ? link_to(@deployment_template.application.name, @deployment_template.application) : t('general.not_applicable') %></td>
    </tr>
    <tr>
      <td><%= t('deployment_templates.comment') %></td>
      <td><%= @deployment_template.comment %></td>
    </tr>
    <tr>
      <td><%= t('deployment_templates.public') %></td>
      <td><%= @deployment_template.public %></td>
    </tr>
    <tr>
      <td><%= t('deployment_parameters') %></td>
      <td><%= @deployment_template.deployment_parameters %></td>
    </tr>
    <tr>
      <td><%= t('general.created_by') %></td>
      <td><%= @deployment_template.user %></td>
    </tr>
    <tr>
      <td><%= t('general.created_on') %></td>
      <td><%= @deployment_template.created_at.strftime(t('general.timestamp_to_str')) %></td>
    </tr>
  </table>
</div>

<span class='actions'>
<% if can? :create, DeploymentTemplate %>
    <%= link_to t('general.actions.clone'), new_deployment_template_path(clone_template_id: @deployment_template.id) %>
<% end %>
  <% if can? :edit, DeploymentTemplate %>
    <%= link_to 'Edit', edit_deployment_template_path(@deployment_template) %>
<% end %>
  <%= link_to 'Back', deployment_templates_path %>
</span>