<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('approval_groups.approval_groups') %>
  </div>
  <div class="panel-body">
    <table class='data_table' id="server_groups_table">
      <thead>
      <tr>
        <th><%= t('approval_groups.name') %></th>
        <th><%= t('approval_groups.description') %></th>
        <th><%= t('general.actions.actions') %></th>
      </tr>
      </thead>
      <tbody>
      <% approval_groups.each do |approval_group| %>
          <tr id="approval_group_<%= approval_group.id %>">
            <td><%= link_to approval_group.name, admin_approval_group_path(approval_group) %></td>
            <td><%= approval_group.description %></td>
            <td>
              <%= link_to t('general.actions.edit'), edit_admin_approval_group_path(approval_group) %>
              <%= link_to t('general.actions.delete'), admin_approval_group_path(approval_group), :confirm => t('general.are_you_sure'), :method => :delete %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>