    <% if @approval_group.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@approval_group.errors.count, "error") %> prohibited this approval group from being saved:</h2>

          <ul>
            <% @approval_group.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, :autofocus => true %>
    </div>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :users %>
      <%= f.collection_select :user_ids, @approvers.sort_by{ |u| u.email },:id, :full_name_with_email, {}, { multiple: true } %>
    </div>