<h1><%= t('general.actions.edit') % @approval_group.name %></h1>

<%= form_for(@approval_group, :url => admin_approval_group_path) do |f| %>
    <%= render 'form', f: f %>

    <div class="actions">
      <%= f.submit t('approval_groups.update') %>
    </div>
<% end %>
<br />
<br />
<br />
<%= link_to t('general.actions.back'),:back %>
