<h1><%= t('general.new') % t('approval_groups.approval_group') %></h1>

<%= form_for(@approval_group, :url => admin_approval_groups_path) do |f| %>
    <%= render 'form', f: f %>

    <div class="actions">
      <%= f.submit t('approval_groups.create') %>
    </div>
<% end %>
<br />
<br />
<br />
<%= link_to t('general.actions.back'), :back %>
