This message confirms that the <%= @deployment_environment.environment.name %> environment deployment <%= @deployment_environment.deployment.id %> for <%= @deployment_environment.deployment.application.name %> has been <%= @state.to_s.titleize.downcase %>.

<%= t('deployments.deployed_by') %>: <%= @deployment_environment.deployer.name %>
<%= t('deployments.status') %>: <%= @deployment_environment.current_state.to_s.titleize %>
<%= t('environments.environment') %>: <%= @deployment_environment.environment.name %>
<%= t('applications.application') %>: <%= @deployment_environment.deployment.application.name %>

<%= t('deployments.url') %>: <%= application_deployment_url(@deployment_environment.deployment.application, @deployment_environment.deployment) %>
<%= t('general.created_on') %>: <%= @deployment_environment.created_at.strftime(t('general.timestamp_to_str')) %>
<%= t('deployments.deployer_comment') %>: <%= @deployment_environment.deployer_comment %>