<div>
  <p>This message confirms that the <%= @deployment_environment.environment.name %> environment deployment <%= link_to @deployment_environment.deployment.id, application_deployment_url(@deployment_environment.deployment.application, @deployment_environment.deployment) %> for <%= link_to @deployment_environment.deployment.application.name, @deployment_environment.deployment.application %> has been <%= @state.to_s.titleize.downcase %> for deployment.</p>
  <div class="field">
    <%= label_tag(:scheduled_by, t('deployment_environments.scheduled_by')) %>: <%= @deployment_environment.deployer.name %>
  </div>
  <div class="field">
    <%= label_tag(:scheduled_at, t('deployment_environments.scheduled_at')) %>: <%= @deployment_environment.deploy_at.in_time_zone(@user.time_zone).strftime(t('general.timestamp_to_str')) %>
  </div>
  <div class="field">
    <%= label_tag(:status, t('deployments.status')) %>: <%= @deployment_environment.current_state.to_s.titleize %>
  </div>
  <div class="field">
    <%= label_tag(:environment, t('environments.environment')) %>: <%= @deployment_environment.environment.name %>
  </div>
  <div class="field">
    <%= label_tag(:application, t('applications.application')) %>: <%= link_to @deployment_environment.deployment.application.name, @deployment_environment.deployment.application %>
  </div>
  <br />
  <div class="field">
    <%= label_tag(:url, t('deployments.url')) %>: <%= link_to(application_deployment_url(@deployment_environment.deployment.application, @deployment_environment.deployment), application_deployment_url(@deployment_environment.deployment.application, @deployment_environment.deployment)) %>
  </div>
  <div class="field">
    <%= label_tag(:created_on, t('general.created_on')) %>: <%= @deployment_environment.created_at.in_time_zone(@user.time_zone).strftime(t('general.timestamp_to_str')) %>
  </div>
  <div class="field">
    <%= label_tag(:approver_comment, t('deployments.deployer_comment')) %>: <%= @deployment_environment.deployer_comment %>
  </div>
</div>