<% single_content_for :action do %>
    <%= t('activity.deployment_environment.initiated_deploy') %>
    <%= link_to_trackable_deployment_environment(activity.trackable, activity.trackable_type) %>
<% end %>

<%= p[:summary] %>