<div class="panel panel-default">
  <div class="panel-heading">
    <%= defined?(panel_title) ? panel_title : t('dashboards.dashboards') %>
  </div>

  <table class="table">
    <tr>
      <th><%= t('dashboards.name') %></th>
      <th><%= t('dashboards.description') %></th>
      <th><%= t('dashboards.built_in') %></th>
      <th><%= t('dashboards.system_default') %></th>
      <th><%= t('general.created_by') %></th>
      <th><%= t('general.created_on') %></th>
    </tr>
    <% dashboards.each do |dashboard| %>
        <tr id="dashboard_<%= dashboard.id %>">
          <td><%= link_to dashboard.name, dashboard %></td>
          <td><%= dashboard.description %></td>
          <td><%= boolean_to_string dashboard.built_in %></td>
          <td><%= boolean_to_string dashboard.system_default %></td>
          <td><%= dashboard.user %></td>
          <td><%= dashboard.created_at.strftime(t('general.timestamp_to_str')) %></td>
        </tr>
    <% end %>
  </table>
</div>