<div class="panel panel-default">
  <div class="panel-heading">
    <%= defined?(panel_title) ? panel_title : t('shared.people.people') %>
  </div>
    <table class="table attribute-list">
      <tr>
        <td><%= t('shared.people.creator') %>:</td>
        <td class="attribute-details"><span class="creator-details"><%= image_tag(resource.user.gravatar_url(:size => 20)) if(show_gravatar(APP_CONFIG) && resource.user) %><%= resource.user ? resource.user.email : t('shared.people.creator_unknown') %></span></td>
      </tr>
      <tr>
        <td><%= t('shared.people.cc') %>:</td>
        <td class="attribute-details"><%= resource.cc_users.map(&:full_name).join(', ') %></td>
      </tr>
      <tr>
        <td><%= t('shared.people.watchers') %>:</td>
        <td class="attribute-details"><%= render partial: 'shared/watch_unwatch', locals: { resource: resource, user: current_user, api_url: api_url } %></td>
      </tr>
    </table>
</div>