<div id="resource_ticketing_system_permissions">
  <div class="field">
    <ul>
      <%= form.fields_for :resource_ticketing_system_permissions, resource.resource_ticketing_system_permissions do |builder| %>
          <% ticketing_system_permission = builder.object.ticketing_system_permission %>
          <%= builder.hidden_field :ticketing_system_permission_id %>
          <li><%= builder.check_box :enabled %> <%= ticketing_system_permission.name.titleize %> - <%= ticketing_system_permission.description %></li>
      <% end %>
    </ul>
  </div>
</div>