<% user ||= current_user %>
<% api_url ||= url_for([:api, resource]) %>

<% if can?(:watch, resource.class) && user.watching?(resource) %>
    <%= link_to t('general.unwatch'), '#', data: { url: url, resource_type: resource.class.name.titleize.downcase, resource_id: resource.id }, id: "watch_unwatch_link_#{resource.class.name}_#{resource.id}", class: 'unwatch_link' %>
<% else %>
    <%= link_to t('general.watch'), '#', data: { url: api_url, resource_type: resource.class.name.titleize.downcase, resource_id: resource.id }, id: "watch_unwatch_link_#{resource.class.name}_#{resource.id}", class: 'watch_link' %>
<% end %>