<%= "* Created By: #{resource.user.name}" %>
<%= "* Created At: #{resource.created_at.strftime('%m/%d/%Y %I:%M %p')}" %>
* Environments
<% resource.environments.each do |env| %>
<%= "** #{env.name}" %>
<% end %>

<%= "* Deployment Comments: #{resource.comment}" %>