This message confirms that the <%= @approval.environment.name %> environment deployment <%= @approval.deployment_environment.deployment.id %> for <%= @approval.deployment_environment.deployment.application.name %> is awaiting your approval.

<%= t('approvals.status') %>: <%= @approval.current_state.to_s.titleize %>
<%= t('environments.environment') %>: <%= @approval.environment.name %>
<%= t('applications.application') %>: <%= @approval.deployment.application.name %>

<%= t('deployments.url') %>: <%= application_deployment_deployment_environment_approval_url(@approval.deployment_environment.deployment.application, @approval.deployment_environment.deployment, @approval.deployment_environment.environment, @approval) %>
<%= t('general.created_on') %>: <%= @approval.created_at.strftime(t('general.timestamp_to_str')) %>