This message confirms that the <%= @approval.environment.name %> environment deployment <%= @approval.deployment.id %> for <%= @approval.deployment.application.name %> has been rejected.

<%= t('approvals.approved_by') %>: <%= @approval.approver.name %>
<%= t('approvals.status') %>: <%= @approval.current_state.to_s.titleize %>
<%= t('environments.environment') %>: <%= @approval.environment.name.titleize %>
<%= t('applications.application') %>: <%= @approval.deployment.application.name %>

<%= t('approvals.url') %>: <%= application_deployment_deployment_environment_approval_url(@approval.deployment_environment.deployment.application, @approval.deployment_environment.deployment, @approval.deployment_environment, @approval) %>
<%= t('general.created_on') %>: <%= @approval.created_at.strftime(t('general.timestamp_to_str')) %>
<%= t('approvals.approver_comment') %>: <%= @approval.approver_comment %>