<div>
  <p>This message confirms that the <%= @approval.environment.name %> environment deployment <%= link_to @approval.deployment.id, application_deployment_url(@approval.deployment.application, @approval.deployment) %> for <%= link_to @approval.deployment.application.name, @approval.deployment.application %> has been rejected.</p>

  <div class="field">
    <%= label_tag(:approved_by, t('approvals.approved_by')) %>: <%= @approval.approver.name %>
  </div>
  <div class="field">
    <%= label_tag(:status, t('approvals.status')) %>: <%= @approval.current_state.to_s.titleize %>
  </div>
  <div class="field">
    <%= label_tag(:environment, t('environments.environment')) %>: <%= @approval.environment.name.titleize %>
  </div>
  <div class="field">
    <%= label_tag(:application, t('applications.application')) %>: <%= link_to @approval.deployment.application.name, @approval.deployment.application %>
  </div>
  <br />
  <div class="field">
    <%= label_tag(:url, t('approvals.url')) %>: <%= link_to(application_deployment_deployment_environment_approval_url(@approval.deployment_environment.deployment.application, @approval.deployment_environment.deployment, @approval.deployment_environment, @approval), application_deployment_deployment_environment_approval_url(@approval.deployment_environment.deployment.application, @approval.deployment_environment.deployment, @approval.deployment_environment, @approval)) %>
  </div>
  <div class="field">
    <%= label_tag(:created_on, t('general.created_on')) %>: <%= @approval.created_at.strftime(t('general.timestamp_to_str')) %>
  </div>
  <div class="field">
    <%= label_tag(:approver_comment, t('approvals.approver_comment')) %>: <%= @approval.approver_comment %>
  </div>
</div>