                                                            New user created

<%= t('users.full_name') %>: <%= @user.full_name %>
<%= t('users.email') %>: <%= @user.email %>
<%= t('general.created_on') %>: <%= @user.created_at.strftime(t('general.timestamp_to_str')) %>

<%= t('users.omniauth_provider') %>: <%= @user.name %>
<%= t('users.omniauth_uid') %>: <%= @user.created_at.strftime(t('general.timestamp_to_str')) %>

<% if @user.roles.count > 0 %>
<%= t('users.roles') %>:>
  <% @user.roles.each do |r| %>
      <%= r.name %>: <%= r.description %>
  <% end %>
<% end %>