<div>
  <center><h3>New user created</h3></center>

  <div class="field">
    <%= label_tag(:full_name, t('users.full_name')) %>: <%= link_to(@user.full_name, admin_user_url(@user)) %>
  </div>
  <div class="field">
    <%= label_tag(:email, t('users.email')) %>: <%= @user.email %>
  </div>
  <div class="field">
    <%= label_tag(:created_on, t('general.created_on')) %>: <%= @user.created_at.strftime(t('general.timestamp_to_str')) %>
  </div>
  <br />
  <div class="field">
    <%= label_tag(:omniauth_provider, t('users.omniauth_provider')) %>: <%= @user.provider %>
  </div>
  <div class="field">
    <%= label_tag(:omniauth_id, t('users.omniauth_uid')) %>: <%= @user.uid %>
  </div>
  <br />
  <% if @user.roles.count > 0 %>
      <ul><li><%= t('users.roles') %>:
        <ul>
        <% @user.roles.each do |r| %>
            <li><%= r.name %>: <%= r.description %></li>
        <% end %>
      </ul></li></ul>
  <% end %>
</div>