<% single_content_for :action do %>
    <%= "editied the deployment" %>
    <%= whose?(activity.owner, activity.trackable) %>
    <%= link_to_trackable_deployment activity.trackable, activity.trackable_type %>
<% end %>

<%= p[:summary] %>