This message confirms that the application <%= @application_name %> has been destroyed.

<%= t('general.destroyed_by') %>: <%= @destroy_user.name %>
<%= t('general.destroyed_on') %>: <%= @destroyed_at.strftime(t('general.timestamp_to_str')) %>