<div>
  <p>This message confirms that the application <%= @application_name %> has been destroyed.</p>

  <div class="field">
    <%= label_tag(:destroyed_by, t('general.destroyed_by')) %>: <%= @destroy_user.name %>
  </div>
  <div class="field">
    <%= label_tag(:destroyed_on, t('general.destroyed_on')) %>: <%= @destroyed_at.strftime(t('general.timestamp_to_str')) %>
  </div>
</div>