This message confirms that the application <%= @application.name %> has been created.

<%= t('deployments.url') %>: <%= application_url(@application) %>
<%= t('deployments.deployment_method') %>: <%= @application.deployment_module %>

<%= t('general.created_by') %>: <%= @application.user.name %>
<%= t('general.created_on') %>: <%= @application.created_at.strftime(t('general.timestamp_to_str')) %>

<% if @application.environments.count > 0 %>
<%= t('environments.environments') %>:>
  <% @application.environments.each do |e| %>
    <%= e.name %>
  <% end %>
<% end %>