<div>
  <p>This message confirms that the application <%= link_to @application.name, application_url(@application) %> has been created.</p>

  <div class="field">
    <%= label_tag(:url, t('deployments.url')) %>: <%= link_to(application_url(@application), application_url(@application)) %>
  </div>
  <div class="field">
    <%= label_tag(:deployment_method, t('applications.deployment_method')) %>: <%= @application.deployment_module %>
  </div>
  <br />
  <div class="field">
    <%= label_tag(:created_by, t('general.created_by')) %>: <%= @application.user.name %>
  </div>
  <div class="field">
    <%= label_tag(:created_on, t('general.created_on')) %>: <%= @application.created_at.strftime(t('general.timestamp_to_str')) %>
  </div>
  <br />
  <% if @application.environments.count > 0 %>
      <ul><li><%= t('environments.environments') %>:
        <ul>
        <% @application.environments.each do |e| %>
            <li><%= e.name %></li>
        <% end %>
      </ul></li></ul>
  <% end %>
</div>