<br />
<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('user.users') %>
  </div>
  <div class="panel-body">
    <table class='data_table' id="roles_table">
      <thead>
      <tr>
        <th><%= t('roles.role') %></th>
        <th><%= t('roles.description') %></th>
      </tr>
      </thead>
      <tbody>
      <% @roles.each do |r| %>
          <tr>
            <td><%= link_to r.name.titleize, admin_role_path(r) %></td>
            <td><%= r.description %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>