<h1><%= @role.name.titleize %></h1>
<br />
<div class="panel panel-default">
  <div class="panel-heading"><%= t('roles.role_attributes') %></div>

  <table class="table">
    <tr>
      <th><%= t('look_and_feel.account.attributes.name') %></th>
      <th><%= t('look_and_feel.account.attributes.attribute') %></th>
    </tr>
    <tr>
      <td><%= t('roles.description') %></td>
      <td><%= @role.description %></td>
    </tr>
    <tr>
      <td><%= t('roles.built_in') %></td>
      <td><%= @role.built_in %></td>
    </tr>
  </table>
</div>
<br />
<div class="panel panel-default">
  <div class="panel-heading"><%= t('roles.role_permissions') %></div>

  <table class="table">
    <tr>
      <th><%= "Resource" %></th>
      <th><%= "Permissions" %></th>
    </tr>
    <% @role.resource_roles.sort_by { |rr| rr.resource_type.to_s }.each do |rr| %>
    <tr>
      <td><%= rr.resource_name.to_s.titleize %></td>
      <td><%= rr.permissions.join(', ') %></td>
    </tr>
    <% end %>
  </table>
</div>