$(document).ready(function() {
    setTimeout(function() {
        var source = new EventSource('<%= application_deployment_deployment_environments_path(deployment_environments.first.deployment.application, deployment_environments.first.deployment, format: :js, ids: deployment_environments.map(&:id).join(',')) %>');

        source.onmessage = function(event) {
            var message =  jQuery.parseJSON(event.data);

            switch(message.message_type) {
                case 'message':
                    switch(message.message_data.data_type) {
                        case 'deployment_environment':
                            update_deployment_environments(JSON.parse(message.message_data.data.deployment_environment));
                            break;
                    }
                    break;
                case 'heart_beat':
                    break;
                case 'complete':
                    event.target.close();
                    break;
            }
        };
    }, 1);
});

function update_deployment_environments(deployment_environment) {
    update_deployment_environment_status(deployment_environment);
    update_deployment_environment_deployer_comment(deployment_environment);
    update_deployment_environment_schedule(deployment_environment);
    update_deployment_environment_action_links(deployment_environment);
}

function update_deployment_environment_status(deployment_environment) {
    var status = (deployment_environment.workflow_state.charAt(0).toUpperCase() + deployment_environment.workflow_state.slice(1)).titleize();

    var status_td = $("#deployment_environment_" + deployment_environment.id + "_status");

    if (status_td.text() != status) {
        status_td.text(status);
        status_td.effect("pulsate", {times:1}, 1000);
    }
}

function update_deployment_environment_deployer_comment(deployment_environment) {
    var comment = deployment_environment.deployer_comment;

    var comment_td = $("#deployment_environment_" + deployment_environment.id + "_comment");

    if (comment_td.text() != comment && comment != null) {
        comment_td.text(comment);
        comment_td.effect("pulsate", {times:1}, 1000);
    }
}

function update_deployment_environment_schedule(deployment_environment) {
    var deploy_at = deployment_environment.deploy_at_formatted;

    var deploy_at_td = $("#deployment_environment_" + deployment_environment.id + "_deploy_at");

    if (deploy_at_td.text() != deploy_at && deploy_at != null) {
        deploy_at_td.text(deploy_at);
        deploy_at_td.effect("pulsate", {times:1}, 1000);
    }
}

function update_deployment_environment_action_links(deployment_environment) {
    var state       = deployment_environment.workflow_state;

    var deploy_link          = $('.deploy_link');
    var schedule_link        = $('.schedule_link');
    var reschedule_link      = $('.reschedule_link');
    var cancel_schedule_link = $('.cancel_schedule_link');

    switch(state) {
        case 'awaiting_approval':
            deploy_link.hide();
            schedule_link.hide();
            reschedule_link.hide();
            cancel_schedule_link.hide();
            break;
        case 'awaiting_deployment':
            deploy_link.show();
            schedule_link.show();
            reschedule_link.hide();
            cancel_schedule_link.hide();
            break;
        case 'rejected':
            deploy_link.hide();
            schedule_link.hide();
            reschedule_link.hide();
            cancel_schedule_link.hide();
            break;
        case 'queued':
            deploy_link.hide();
            schedule_link.hide();
            reschedule_link.hide();
            cancel_schedule_link.hide();
            break;
        case 'scheduled':
            deploy_link.hide();
            schedule_link.hide();
            reschedule_link.show();
            cancel_schedule_link.show();
            break;
        case 'deploying':
            deploy_link.hide();
            schedule_link.hide();
            reschedule_link.hide();
            cancel_schedule_link.hide();
            break;
        case 'deployed':
            deploy_link.hide();
            schedule_link.hide();
            reschedule_link.hide();
            cancel_schedule_link.hide();
            break;
        case 'failed':
            deploy_link.hide();
            schedule_link.hide();
            reschedule_link.hide();
            cancel_schedule_link.hide();
            break;
    }
}