<tr>
  <td><%= link_to deployment_environment.environment.name, output_application_deployment_deployment_environment_path(deployment_environment.deployment.application, deployment_environment.deployment, deployment_environment) %></td>
  <td id="deployment_environment_<%= deployment_environment.id %>_status"><%= deployment_environment.current_state.to_s.titleize %></td>
  <td id="deployment_environment_<%= deployment_environment.id %>_deploy_at"><%= deployment_environment.deploy_at ? deployment_environment.deploy_at.strftime(t('general.timestamp_to_str')) : t('general.not_applicable') %></td>
  <td id="deployment_environment_<%= deployment_environment.id %>_comment"><%= deployment_environment.deployer_comment %></td>
  <td>
    <% if can?(:deploy, DeploymentEnvironment) %>
        <%= link_to t('deployments.deploy'), '#', id: "deploy_#{deployment_environment.id}", class: 'deploy_link', data: { url: deploy_api_application_deployment_deployment_environment_path(deployment_environment.deployment.application, deployment_environment.deployment, deployment_environment) }, hidden: !deployment_environment.awaiting_deployment? %>
    <% end %>

    <% if can?(:schedule, DeploymentEnvironment) %>
        <%= link_to(t('deployment_environments.schedule'), '#', id: "schedule_#{deployment_environment.id}", class: 'schedule_link', data: { url: update_schedule_api_application_deployment_deployment_environment_path(deployment_environment.deployment.application, deployment_environment.deployment, deployment_environment) }, hidden: deployment_environment.current_state >= :scheduled) %>
        <%= link_to(t('deployment_environments.reschedule'), '#', id: "reschedule_#{deployment_environment.id}", class: 'reschedule_link', data: { url: update_schedule_api_application_deployment_deployment_environment_path(deployment_environment.deployment.application, deployment_environment.deployment, deployment_environment) }, hidden: !deployment_environment.scheduled?) %>
        <%= link_to(t('deployment_environments.cancel_schedule'), cancel_schedule_api_application_deployment_deployment_environment_path(deployment_environment.deployment.application, deployment_environment.deployment, deployment_environment), class: 'cancel_schedule_link', hidden: !deployment_environment.scheduled?, :confirm => t('general.are_you_sure'), :method => :delete, remote: true)%>
    <% end %>
  </td>
</tr>