<div class="deployment_environments">
<script>
  <%= render partial: 'deployment_environments/schedule', formats: [:js] %>
</script>
<script>
  <%= render partial: 'deployments/deploy', formats: [:js] %>
</script>
<script>
  <%= render partial: 'deployment_environments/deployment_environments', locals: { deployment_environments: deployment_environments }, formats: [:js] %>
</script>
<div class="panel panel-default">
  <div class="panel-heading"><%= t('deployment_environments.environments') %></div>

  <table class="table">
    <tr>
      <th><%= t('environments.environment') %></th>
      <th><%= t('environments.status') %></th>
      <th><%= t('deployment_environments.scheduled_at') %></th>
      <th><%= t('deployment_environment.deployer_comment') %></th>
      <th><%= t('general.actions.actions') %></th>
    </tr>
    <% deployment_environments.sort_by{ |de| de.environment.deployment_order }.each do |deployment_environment| %>
        <%= render partial: 'deployment_environments/deployment_environment', locals: { deployment_environment: deployment_environment } %>
    <% end %>
  </table>
</div>
</div>