$(document).ready(function() {
    setTimeout(function() {
        var source = new EventSource('<%= output_application_deployment_deployment_environment_path(@deployment_environment.deployment.application, @deployment_environment.deployment, @deployment_environment) %>.js');

        source.onmessage = function(event) {
            var message =  jQuery.parseJSON(event.data);
            var log_output_text_area = $('.deployment_environment_output').find('textarea');

            switch(message.message_type) {
                case 'message':
                    switch(message.message_data.data_type) {
                        case 'deployment_environment_output_log':
                            log_output_text_area.append(message.message_data.data.output_log.join("\n"));
                            log_output_text_area.append("\n");
                            log_output_text_area.scrollTop(log_output_text_area[0].scrollHeight - log_output_text_area.height());
                            break;
                        case 'deployment_environment_deployment_status':
                            //var deploy_link = $('.deploy_link');

                           console.log(message.message_data.data.deployment_status);
                            if (message.message_data.data.deployment_status == 'awaiting_deployment') {
                                $('.deploy_link').show();
                            }
                            else {
                                if ($('.deploy_link').is(':visible')) {
                                    $('.deploy_link').hide();
                                }
                            }
                            update_deployment_environment_status(message.message_data.data.deployment_status.titleize());
                            break;
                        case 'deployment_environment_deployer_comment':
                            update_deployment_environment_deployer_comment(message.message_data.data.deployer_comment);
                            break;
                    }
                    break;
                case 'heart_beat':
                    break;
                case 'complete':
                    event.target.close();
                    break;
            }
        };
    }, 1);
});

function update_deployment_environment_status(status) {
    var status_td = $("#deployment_environment_status");

    if (status_td.text() != status) {
        status_td.text(status);
        status_td.effect("pulsate", {times:1}, 1000);
    }
}

function update_deployment_environment_deployer_comment(comment) {
    var comment_td = $("#deployment_environment_deployer_comment");

    if (comment_td.text() != comment) {
        comment_td.text(comment);
        comment_td.effect("pulsate", {times:1}, 1000);
    }
}