<%= form_for(@deployment_environment, :url => update_schedule_application_deployment_deployment_environment_path(@deployment_environment.deployment.application, @deployment_environment.deployment, @deployment_environment)) do |f| %>
    <% if @deployment_environment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@deployment_environment.errors.count, "error") %> prohibited this deployment_environment from being saved:</h2>

          <ul>
            <% @deployment_environment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <%= t('deployment_environments.schedule') %>
            </div>
            <div class="panel-body">
              <div class="field">
                <%= f.label :deploy_at, :autofocus => true %><br>
                <%= f.datetime_select :deploy_at %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div style="margin: auto;
                  width: 60%;
                  padding: 10px;">
            <%= f.submit t('deployment_environments.schedule') %>
          </div>
        </div>
      </div>
    </div>
<% end %>