$(document).ready(function() {
    $('.schedule_link').click(function() {
        show_schedule_deployment_dialog($(this).attr('data-url'));
    });

    $('.reschedule_link').click(function() {
        show_schedule_deployment_dialog($(this).attr('data-url'));
    });
});

function show_schedule_deployment_dialog(url) {
    console.log(url);
    BootstrapDialog.show({
        title: 'Schedule Deployment',
        message: '<form id="schedule_deployment_environment_form"><h4><%= t('deployment_environments.schedule_deployment') %>:</h4><%= datetime_select('deployment_environment', 'deploy_at').gsub("\n", ' ').html_safe %></form>',
        type: BootstrapDialog.TYPE_PRIMARY, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
        closable: true, // <-- Default value is false
        draggable: true, // <-- Default value is false
        buttons: [{
            label: '<%= t('deployment_environments.schedule') %>',
            cssClass: 'btn-primary',
            hotkey: 13, // Enter.
            action: function(dialogRef) {
                var form    = $("#schedule_deployment_environment_form");

                var year    = form.find("#deployment_environment_deploy_at_1i").val();
                var month   = form.find("#deployment_environment_deploy_at_2i").val();
                var day     = form.find("#deployment_environment_deploy_at_3i").val();
                var hour    = form.find("#deployment_environment_deploy_at_4i").val();
                var minute  = form.find("#deployment_environment_deploy_at_5i").val();


                $.ajax({
                    type: "PATCH",
                    url: url,
                    data: JSON.stringify({'deployment_environment': { 'deploy_at(1i)': year, 'deploy_at(2i)': month, 'deploy_at(3i)': day, 'deploy_at(4i)': hour, 'deploy_at(5i)': minute }}),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (result) {
                        console.log(result);
                        displayNotice("The deploy was successfully " + result.workflow_state);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        var json = jQuery.parseJSON(xhr.responseText);
                        displayAlert(json.message);
                    }
                });

                dialogRef.close();
            }
        }]
    });
}