<script>
    <%= render partial: 'deployments/deploy', formats: [:js] %>
</script>
<script>
    <%= render partial: 'deployment_environments/output', formats: [:js] %>
</script>
<script>
    <%= render partial: 'deployment_environments/schedule', formats: [:js] %>
</script>
<script>
    <%= render partial: 'deployment_environments/deployment_environments', locals: { deployment_environments: [@deployment_environment]}, formats: [:js] %>
</script>

<h1><%= t('deployment_environments.deployment_output') % [@deployment_environment.environment.application.name, @deployment_environment.environment.name] %></h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><%= @deployment_environment.environment.name %> - <%=t('deployment_environment.deployment_status') %></div>
        <table class="table">
          <tr>
            <th><%= t('look_and_feel.account.attributes.name') %></th>
            <th><%= t('look_and_feel.account.attributes.attribute') %></th>
          </tr>
          <tr>
            <td><%= t('applications.application') %></td>
            <td><%= link_to @deployment_environment.environment.application.name, @deployment_environment.environment.application %></td>
          </tr>
          <tr>
            <td><%= t('deployments.deployment') %></td>
            <td><%= link_to @deployment_environment.deployment.id, application_deployment_path(@deployment_environment.deployment.application, @deployment_environment.deployment) %></td>
          </tr>
          <tr>
            <td><%= t('environments.environment') %></td>
            <td><%= link_to @deployment_environment.environment.name, output_application_deployment_deployment_environment_path(@deployment_environment.deployment.application, @deployment_environment.deployment, @deployment_environment) %></td>
          </tr>
          <tr>
            <td><%= t('environments.status') %></td>
            <td id="deployment_environment_<%= @deployment_environment.id %>_status"><%= @deployment_environment.current_state.to_s.titleize %></td>
          </tr>
          <tr>
            <td><%= t('deployment_environments.scheduled_at') %></td>
            <td id="deployment_environment_<%= @deployment_environment.id %>_deploy_at"><%= @deployment_environment.deploy_at ? @deployment_environment.deploy_at.strftime(t('general.timestamp_to_str')) : t('general.not_applicable') %></td>
          </tr>
          <tr>
            <td><%= t('deployment_environment.deployer_comment') %></td>
            <td id="deployment_environment_<%= @deployment_environment.id %>_comment"><%= @deployment_environment.deployer_comment %></td>
          </tr>
          <tr>
            <td><%= t('general.actions.actions') %></td>
            <td>
              <% if can?(:deploy, DeploymentEnvironment) %>
                  <%= link_to t('deployments.deploy'), '#', id: "deploy_#{@deployment_environment.id}", class: 'deploy_link', data: { url: deploy_api_application_deployment_deployment_environment_path(@deployment_environment.deployment.application, @deployment_environment.deployment, @deployment_environment) }, hidden: !@deployment_environment.awaiting_deployment? %>
              <% end %>

              <% if can?(:schedule, DeploymentEnvironment) %>
                  <%= link_to(t('deployment_environments.schedule'), '#', id: "schedule_#{@deployment_environment.id}", class: 'schedule_link', data: { url: update_schedule_api_application_deployment_deployment_environment_path(@deployment_environment.deployment.application, @deployment_environment.deployment, @deployment_environment) }, hidden: @deployment_environment.current_state >= :scheduled) %>
                  <%= link_to(t('deployment_environments.reschedule'), '#', id: "reschedule_#{@deployment_environment.id}", class: 'reschedule_link', data: { url: update_schedule_api_application_deployment_deployment_environment_path(@deployment_environment.deployment.application, @deployment_environment.deployment, @deployment_environment) }, hidden: !@deployment_environment.scheduled?) %>
                  <%= link_to(t('deployment_environments.cancel_schedule'), cancel_schedule_api_application_deployment_deployment_environment_path(@deployment_environment.deployment.application, @deployment_environment.deployment, @deployment_environment), class: 'cancel_schedule_link', hidden: !@deployment_environment.scheduled?, :confirm => t('general.are_you_sure'), :method => :delete, remote: true)%>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-8">
      <div class="deployment_environment_output">
        <div class="panel panel-default">
          <div class="panel-heading"><%= t('deployment_environments.output_log') %></div>
          <textarea class="form-control" rows="30" readonly></textarea>
        </div>
      </div>
    </div>
  </div>
</div>