<h1><%= t('general.editing') % "#{@deployment_environment.deployment.application.name} - #{@deployment_environment.deployment.id} - #{@deployment_environment.environment.name}" %></h1>

<%= render 'schedule' %>
<br />
<br />
<br />
<%= link_to t('general.actions.back'), :back %>
