<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= render 'account/account_attributes', :user => @user %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <%= render 'roles/roles', { roles: @user.roles } %>
    </div>
    <div class="col-md-7">
      <%= render 'user_mailer_notification_permissions/user_mailer_notification_permissions', { user_mailer_notification_permissions: @user.user_mailer_notification_permissions } %>
    </div>
  </div>
</div>