<% if defined?(resource.environment) %>
<%= "h3. *#{resource.environment.name} Deployment: #{state.to_s.titleize}*" %>
<% else %>
h3. *Deployment Created*
<% end %>

h5. Deployment Information
<%= yield %>