This message confirms that deployment <%= @deployment.id %> for <%= @deployment.application.name %> has been created.

<%= t('deployments.url') %>: <%= application_deployment_url(@deployment.application, @deployment) %>
<%= t('deployments.deployment_method') %>: <%= @deployment.application.deployment_module %>

<%= t('general.created_by') %>: <%= @deployment.user.name %>
<%= t('general.created_on') %>: <%= @deployment.created_at.strftime(t('general.timestamp_to_str')) %>