<div>
  <p>This message confirms that deployment <%= link_to @deployment.id, application_deployment_url(@deployment.application, @deployment) %> for <%= link_to @deployment.application.name, @deployment.application %> has been created.</p>

  <div class="field">
    <%= label_tag(:url, t('deployments.url')) %>: <%= link_to(application_deployment_url(@deployment.application, @deployment), application_deployment_url(@deployment.application, @deployment)) %>
  </div>
  <div class="field">
    <%= label_tag(:deployment_method, t('deployments.deployment_method')) %>: <%= @deployment.application.deployment_module %>
  </div>
  <div class="field">
    <%= label_tag(:created_by, t('general.created_by')) %>: <%= @deployment.user.name %>
  </div>
  <div class="field">
    <%= label_tag(:created_on, t('general.created_on')) %>: <%= @deployment.created_at.strftime(t('general.timestamp_to_str')) %>
  </div>
</div>