This message confirms the Akamai cache purge has been completed for the <%= @deployment_environment.environment.name %> environment deployment <%= @deployment_environment.deployment.id %> for <%= @deployment_environment.deployment.application.name %> has been <%= @state.to_s.titleize.downcase %>.

<%= akamai_purge_results_hash_to_list @akamai_purge_json %>