<div>
  <p>This message confirms that a Akamai cache purge has been initiated for the <%= @deployment_environment.environment.name %> environment deployment <%= link_to @deployment_environment.deployment.id, application_deployment_url(@deployment_environment.deployment.application, @deployment_environment.deployment) %> for <%= link_to @deployment_environment.deployment.application.name, @deployment_environment.deployment.application %>.</p>

  <%= akamai_purge_results_hash_to_html(@akamai_purge_json).html_safe %>
</div>