<div class="panel panel-default">
  <div class="panel-heading"><%= t('user.roles') %></div>

  <table class="table">
    <tr>
      <th><%= t('user.role') %></th>
      <th><%= t('user.role_description') %></th>
    </tr>
    <% roles.sort_by(&:name).each do |r| %>
        <tr>
          <td><%= r.name.titleize %></td>
          <td><%= r.description %></td>
        </tr>
    <% end %>
  </table>
</div>