# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/
$ ->
  $(document).ready ->
    if $('#application_deployment_module_id').length
      $('#application_deployment_module_id').change (e) ->
        deployment_module_id = $(this).val()
        console.log(deployment_module_id)
        if deployment_module_id == ""
          return
        $.ajax
          url: "<%= ::Rails.application.routes.url_helpers.api_deployment_modules_path %>/" + deployment_module_id
          dataType: "json"
          error: (jqXHR, textStatus, errorThrown) ->
            alert("AJAX Error: #{textStatus}")
          success: (data, textStatus, jqXHR) ->
            updateFormFromDeploymentParameters(data)

    if $('.duplicatable_nested_form').length
      nestedForm = $('.duplicatable_nested_form').last().clone()

      #$(".destroy_duplicate_nested_form:first").remove()

      $('body').on 'click','.destroy_duplicate_nested_form', (e) ->
        e.preventDefault()
        $(this).closest('.duplicatable_nested_form').slideUp().remove()

      $('.duplicate_nested_form').click (e) ->
        e.preventDefault()

        lastNestedForm = $('.duplicatable_nested_form').last()
        newNestedForm  = $(nestedForm).clone()
        formsOnPage    = $('.duplicatable_nested_form').length

        $(newNestedForm).find('label').each ->
          oldLabel = $(this).attr 'for'
          newLabel = oldLabel.replace(new RegExp(/_[0-9]+_/), "_#{formsOnPage}_")
          $(this).attr 'for', newLabel

        $(newNestedForm).find('select, input').each ->
          oldId = $(this).attr 'id'
          newId = oldId.replace(new RegExp(/_[0-9]+_/), "_#{formsOnPage}_")
          $(this).attr 'id', newId

          oldName = $(this).attr 'name'
          newName = oldName.replace(new RegExp(/\[[0-9]+\]/), "[#{formsOnPage}]")
          $(this).attr 'name', newName

        $( newNestedForm ).insertAfter( lastNestedForm )

  updateFormFromDeploymentParameters = (deployment_module) ->
    $('#application_deployment_parameters').text(deploymentParametersToString(deployment_module.default_parameters_applications))

    $('.application_environments_attributes_deployment_parameters').each (e) ->
      $(this).text(deploymentParametersToString(deployment_module.default_parameters_environments))

  deploymentParametersToString = (parameters) ->
    str = ""
    for k,v of parameters
      str += k + ": " + v

    return str

  if $('.cc_user_ids').length
    $('.cc_user_ids').select2
        ajax:
            url: '<%= ::Rails.application.routes.url_helpers.api_users_path %>'
            dataType: 'json'
            delay: 250
            data: (params) ->
                {
                q: params.term
                case_insensitive: true
                page: params.page
                }
            processResults: (data, page) ->
                # parse the results into the format expected by Select2.
                # since we are using custom formatting functions we do not need to
                # alter the remote JSON data
                if(!data? && previous_cc_users_array?)
                    results = previous_cc_users_array
                    console.log(results)
                else

                    results = data
                { results: results }
            cache: true
        escapeMarkup: (markup) ->
            markup
        minimumInputLength: 1
        templateResult: formatUser
        templateSelection: formatUserSelection

formatUser = (user) ->
    if user.loading
        return user.text
    markup = '<div class="clearfix">' + '<div class="col-sm-1">' + '<img src="' + user.gravatar_url + '" style="width: 16px; height: 16px" />' + '</div>' + '<div clas="col-sm-10">' + '<div class="clearfix">' + '<div class="col-sm-6">' + user.full_name + '</div>' + '</div>'
    if user.email
        markup += '<div>' + user.email + '</div>'
    markup += '</div></div>'
    markup

formatUserSelection = (user) ->
    user.full_name or user.text