# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/
$ ->
  updateFormFromTemplate = (template) ->
    if template.comment.length
      $('#deployment_comment').val(template.comment)

    if Object.keys(template.deployment_parameters).length > 0
      $('#deployment_deployment_parameters').text(deploymentParametersToString(template.deployment_parameters))

    if template.ticket.length
      $('#deployment_ticket').val(template.ticket)

    if template.post_deployment_ticketing_system_user.length
      $('#deployment_post_deployment_ticketing_system_user').val(template.post_deployment_ticketing_system_user)

  deploymentParametersToString = (parameters) ->
      str = ""
      for k,v of parameters
        str += k + ": " + v + "\n"

      return str

  $('#deployment_deployment_template_id').change ->
    deployment_template_id = $('#deployment_deployment_template_id option:selected').val()
    if deployment_template_id == ""
        return
    $.ajax
      url: "<%= ::Rails.application.routes.url_helpers.api_deployment_templates_path %>/" + deployment_template_id
      dataType: "json"
      error: (jqXHR, textStatus, errorThrown) ->
        alert("AJAX Error: #{textStatus}")
      success: (data, textStatus, jqXHR) ->
          updateFormFromTemplate(data)

  if $('#deployments_table').length
    $('#deployments_table').dataTable().fnSort( [ [0,'desc'] ] );