$(document).ready(function() {
    $('.watch_link').click(function() {
        watch_ajax($(this).attr('data-url'));
    });

    $('.unwatch_link').click(function() {
        unwatch_ajax($(this).attr('data-url'));
    });
});

function watch_ajax(url) {
    $.ajax({
        type: "PUT",
        url: url + '/watch',
        dataType: 'json',
        contentType: "application/json",
        success: function (result) {
            displayNotice("You have started watching " + result.name);

            var link = $('#watch_unwatch_link_' + result.resource_type + '_' + result.id);

            link.text('<%= I18n.t('general.unwatch') %>');
            link.attr('class', 'unwatch_link');

            rebind_watch_unwatch_link(link);
        },
        error: function (xhr, ajaxOptions, thrownError) {
            var json = jQuery.parseJSON(xhr.responseText);
            displayAlert(json.message);
        }
    });
}

function unwatch_ajax(url) {
    $.ajax({
        type: "POST",
        url: url + '/unwatch',
        dataType: 'json',
        contentType: "application/json",
        beforeSend: function (xhr) {
            xhr.setRequestHeader("X-Http-Method-Override", "DELETE");
        },
        success: function (result) {
            displayNotice("You have stopped watching " + result.name);

            var link = $('#watch_unwatch_link_' + result.resource_type + '_' + result.id);

            link.text('<%= I18n.t('general.watch') %>');
            link.attr('class', 'watch_link');

            rebind_watch_unwatch_link(link);
        },
        error: function (xhr, ajaxOptions, thrownError) {
            var json = jQuery.parseJSON(xhr.responseText);
            displayAlert(json.message);
        }
    });
}

function rebind_watch_unwatch_link(link) {
    link.unbind("click");

    link.click(function() {
        if (link.attr("class") == 'watch_link') {
            watch_ajax($(this).attr('data-url'));
        }
        else if (link.attr("class") == 'unwatch_link') {
            unwatch_ajax($(this).attr('data-url'));
        }
    });
}