function show_deploy_dialog(url) {
    BootstrapDialog.show({
        title: 'Deploy',
        message: '<form id="deployer_comment_form"><h4><%= t('deployments.deployer_comment') %>:</h4><textarea cols="67" name="deployer_comment" id="deployer_comment"></textarea></form>',
        type: BootstrapDialog.TYPE_PRIMARY, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
        closable: true, // <-- Default value is false
        draggable: true, // <-- Default value is false
        buttons: [{
            label: '<%= t('deployments.deploy') %>',
            cssClass: 'btn-primary',
            hotkey: 13, // Enter.
            action: function(dialogRef) {
                var comment_text = $("#deployer_comment_form").find("#deployer_comment");
                $.ajax({
                    type: "POST",
                    url: url,
                    data: JSON.stringify({'deployer_comment':comment_text.val()}),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (result) {
                        displayNotice("The deploy was successfully " + result.status);
                        $('#deployment_' + result.id + '_status').html(result.status.charAt(0).toUpperCase() + result.status.slice(1));
                        $('#deployment_' + result.id + '_deployer_comment').html(result.deployer_comment);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        var json = jQuery.parseJSON(xhr.responseText);
                        displayAlert(json.message);
                    }
                });

                comment_text.val('');
                dialogRef.close();
            }
        }]
    });
}
