<div class="environments">
  <div class="panel panel-default">
    <div class="panel-heading"><%= defined?(panel_title) ? panel_title : t('environments.environments') %></div>

    <table class="table">
      <tr>
        <th><%= t('environments.name') %></th>
        <th><%= t('applications.application') %></th>
        <th><%= t('environments.deployment_order') %></th>
        <% if AppConfig.get(%W(akamai_purge enable), APP_CONFIG) %>
        <th><%= t('akamai_purge.akamai_cp_codes') %></th>
        <% end %>
      </tr>
      <% environments.sort_by{ |e| e.deployment_order }.each do |environment| %>
          <tr id="environment_<%= environment.id %>">
            <td><%= environment.name %></td>
            <td><%= link_to environment.application.name, environment.application %></td>
            <td><%= environment.deployment_order %></td>
            <% if AppConfig.get(%W(akamai_purge enable), APP_CONFIG) %>
              <td><%= akamai_cp_codes_to_string(environment.akamai_cp_codes) %></td>
            <% end %>
          </tr>
      <% end %>
    </table>
  </div>
</div>