<h1><%= t('general.listing') % t('deployments.deployments') %></h1>

<%= render 'environments', deployments: @deployments, force_deploy: @force_deploy %>

<% if can? :create, Deployment %>
    <span class='actions'>
  <%= link_to t('general.actions.new'), new_application_deployment_path(@application) %>
</span>
<% end %>
