<script>
    <%= render partial: 'deployments/deploy', formats: [:js] %>
</script>
<h1><%= @deployment.application.name.titleize %> - <%= @deployment.id %></h1>
<br />
<div class="panel panel-default">
  <div class="panel-heading"><%= t('deployments.deployment_attributes') %></div>

  <table class="table">
    <tr>
      <th><%= t('look_and_feel.account.attributes.name') %></th>
      <th><%= t('look_and_feel.account.attributes.attribute') %></th>
    </tr>
    <tr>
      <td><%= t('deployments.comment') %></td>
      <td><%= @deployment.comment %></td>
    </tr>
    <tr>
      <td><%= t('deployments.ticket') %></td>
      <td><%= @deployment.ticket %></td>
    </tr>
    <tr>
      <td><%= t('deployments.status') %></td>
      <td id="deployment_<%= @deployment.id %>_status"><%= @deployment.status.titleize %></td>
    </tr>
    <tr>
      <td><%= t('deployments.deployer_comment') %></td>
      <td id="deployment_<%= @deployment.id %>_deployer_comment"><%= @deployment.deployer_comment %></td>
    </tr>
    <tr>
      <td><%= t('deployments.deployment_parameters') %></td>
      <td><%= @deployment.deployment_parameters %></td>
    </tr>
    <tr>
      <td><%= t('deployment_templates.deployment_template') %></td>
      <td><%= @deployment.deployment_template ? link_to(@deployment.deployment_template.name, @deployment.deployment_template) : t('general.not_applicable') %></td>
    </tr>
    <tr>
      <td><%= t('general.created_by') %></td>
      <td><%= @deployment.user %></td>
    </tr>
    <tr>
      <td><%= t('general.created_on') %></td>
      <td><%= @deployment.created_at.strftime(t('general.timestamp_to_str')) %></td>
    </tr>
    <tr>
      <td><%= t('general.actions.actions') %></td>
      <td>
        <% if current_user.has_role?(:deployer) && (@deployment.can_deploy? || @force_deploy) %>
            <%= link_to t('deployments.deploy'), deploy_application_deployment_path(@deployment.application, @deployment, :force => @force_deploy), :confirm => 'Are you sure?', :method => :put, :remote => true %>
        <% else %>
            <%= t('general.not_applicable') %>
        <% end %>
      </td>
    <tr>
  </table>
</div>
<% if @deployment.application.needs_approvals? %>
<br />
<%= render 'approvals/approvals', { approvals: @deployment.approvals } %>
<br />
<%= render 'approval_groups/approval_groups', { approval_groups: @deployment.application.approval_groups } %>
<% end %>
<br />

<span class='actions'>
<% if can? :schedule, Deployment %>
<%= link_to 'Edit', edit_application_deployment_path(@deployment.application, @deployment) %>
<% end %>
<%= link_to 'Back', application_deployments_path(@deployment.application) %>
</span>