<% single_content_for :action do %>
    <%= "editied" %>
    <%= whose?(activity.owner, activity.trackable) %>
    <%= link_to_trackable activity.trackable, activity.trackable_type %>
<% end %>

<%= p[:summary] %>