<div class="panel panel-default" style="height: 100%">
  <div class="panel-heading"><%= t('look_and_feel.account.attributes.account_attributes') %></div>

  <table class="table">
    <tr>
      <th><%= t('look_and_feel.account.attributes.name') %></th>
      <th><%= t('look_and_feel.account.attributes.attribute') %></th>
    </tr>
    <tr>
      <td><%= t('look_and_feel.account.first_name') %></td>
      <td><%= user.fname %></td>
    </tr>
    <tr>
      <td><%= t('look_and_feel.account.last_name') %></td>
      <td><%= user.lname %></td>
    </tr>
    <tr>
      <td><%= t('look_and_feel.account.email') %></td>
      <td><%= user.email %></td>
    </tr>
    <tr>
      <td><%= t('look_and_feel.account.attributes.login_count') %></td>
      <td><%= user.sign_in_count %></td>
    </tr>
    <tr>
      <td><%= t('look_and_feel.account.attributes.failed_attempts') %></td>
      <td> <%= user.failed_attempts %></td>
    </tr>
    <tr>
      <td><%= t('look_and_feel.account.attributes.last_ip') %></td>
      <td><%= user.last_sign_in_ip %></td>
    </tr>
    <tr>
      <td><%= t('look_and_feel.account.attributes.confirmation_sent') %></td>
      <td><%= user.confirmation_sent_at %></td>
    </tr>
    <tr>
      <td><%= t('look_and_feel.account.attributes.confirmed_on') %></td>
      <td><%= user.confirmed_at %></td>
    </tr>
    <tr>
      <td><%= t('look_and_feel.account.attributes.created_on') %></td>
      <td><%= user.created_at %></td>
    </tr>
    <tr>
      <td><%= t('look_and_feel.account.attributes.updated_on') %></td>
      <td><%= user.updated_at %></td>
    </tr>
    <tr>
      <td><%= "API Token" %></td>
      <td><%= user.authentication_token %></td>
    </tr>
  </table>
</div>