<h1><%= t('dashboards.system.name') %></h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= t('dashboards.system.deployment_environments.last_15_days') %>
        </div>
        <div class="panel-body">
          <%= column_chart deployments_created_last_x_days_api_charts_path(ago: 15) %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= t('dashboards.system.deployments.total_deployments_per_application') %>
        </div>
        <div class="panel-body">
          <%= pie_chart deployments_per_application_api_charts_path %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= t('activity.activity') %>
        </div>
        <div class="panel-body">
          <%= render partial: 'shared/activities', locals: { activities: PublicActivity::Activity.order('created_at DESC').limit(6).all } %>
        </div>
      </div>
    </div>
  </div>
</div>