abbr.timeago {
    border: none;
    cursor: default;
    color: #BBB;
    font-weight: normal;
    font-size: 12px;
}
.activity {
    margin-bottom: 1em;
    padding-left: 45px;
    position: relative;
}
.activity .mega-icon {
    position: absolute;
    top: 14px;
    left: 0;
    width: 32px;
    height: 32px;
    padding: 3px;
    color: #BBB;
    background-position: center center;
    background-size: 32px auto;
    background-repeat: no-repeat;
}
.activity .body {
    overflow: hidden;
    padding: 0 0 1em 0;
}
.activity .body .title {
    padding: 0 0 .25em 0;
    font-weight: bold;
    font-size: 14px;
}
.activity .body .details .avatar {
    border: 1px solid #D0D0D0;
    padding: 2px;
    background-color: white;
    float: left;
    line-height: 0;
    margin-right: .7em;
}
.activity .body .details .message {
    display: inline;
    color: #666;
    font-size: 13px;
}
.activities-sidebar h3 {
    text-align: center;
}