/*.attribute-list {*/
    /*display: list-item;*/
/*}*/

.attribute-list tr {
    /*border-spacing: 0;*/
    /*display: table;*/
    /*table-layout: fixed;*/
    /*margin: 0;*/
    /*witdh: 100%;*/
}

.attribute-list tr>td {
    /*display: table-cell;*/
    /*font-weight: normal;*/
    /*vertical-align: top;*/
    /*witdh: 140px;*/
    /*text-align: left;*/
    /*color: #707070;*/
}

.attribute-list tr>dd {
    /*display: table-cell;*/
}

.attribute-list .creator-details img {
    padding-right: 2%;
}
.attribute-list .attribute-details {
    text-align: right;
}