    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %>
    </div>
    <div class="field">
      <%= f.label :fname %><br />
      <%= f.text_field :fname %>
    </div>
    <div class="field">
      <%= f.label :lname %><br />
      <%= f.text_field :lname %>
    </div>
    <div class="field">
      <%= f.label :roles %>
      <ul>
        <% Role.all.sort_by{ |r| r.name }.each do |role| %>
            <li id="role_<%= role.id %>"><%= check_box_tag 'user[role_ids][]', role.id, @user.roles.include?(role) %> <%= role.name.titleize %> - <%= role.description %></li>
        <% end %>
      </ul>
    </div>