<br />
<%= render 'users', users: @users %>

<% if can? :create, User %>
    <span class='actions'>
      <%= link_to t('general.actions.new'), new_admin_user_path, :id => 'new_admin_user_link' %>
    </span>
<% end %>