<div class="panel panel-default">
  <div class="panel-heading">
    <%= defined?(panel_title) ? panel_title : t('deployments.deployments') %>
  </div>
  <div class="panel-body">
    <table class='data_table' id="deployments_table">
      <thead>
      <tr>
        <th><%= t('deployments.id') %></th>
        <th><%= t('deployments.comment') %></th>
        <th><%= t('deployments.ticket') %></th>
        <th><%= t('general.created_by') %></th>
        <th><%= t('general.created_on') %></th>
        <th><%= t('general.actions.actions') %></th>
      </tr>
      </thead>
      <tbody>
      <% deployments.each do |deployment| %>
          <tr id="deployment_<%= deployment.id %>">
            <td><%= deployment.id %></td>
            <td><%= deployment.comment %></td>
            <td><%= deployment.ticket %></td>
            <td><%= deployment.user %></td>
            <td><%= deployment.created_at.strftime(t('general.timestamp_to_str')) %></td>
            <td>
              <%= link_to t('general.actions.show'), application_deployment_path(deployment.application, deployment) %>
              <%= link_to t('general.actions.edit'), edit_application_deployment_path(deployment.application, deployment) %>
              <%= render partial: 'shared/watch_unwatch', locals: { resource: deployment, user: current_user, api_url: api_application_deployment_path(deployment.application, deployment) } %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>