  <% if @deployment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deployment.errors.count, "error") %> prohibited this deployment from being saved:</h2>

      <ul>
      <% @deployment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= t('deployments.deployment_information') %>
          </div>
          <div class="panel-body">
            <div class="field">
              <%= f.label :comment, :autofocus => true %><br>
              <%= f.text_field :comment %>
            </div>
            <div class="field">
              <%= f.label :deployment_template %>
              <%= f.select :deployment_template_id, options_for_select(@deployment_templates.sort_by { |t| [t ? 1 : t, t] }.collect{ |t| [(t.user == current_user ? t.name : "#{t.name} - #{t.user.full_name_comma}" ), t.id] }), { include_blank: true } %>
            </div>
            <div class="field">
              <%= f.label :deployment_parameters %><br>
              <%= f.text_area :deployment_parameters, value: @deployment_parameters %>
            </div>
            <div class="field">
              <%= f.label :cc_users, t('applications.cc') %>
              <%= f.collection_select :cc_user_ids, @application.cc_users, :id, :name, {}, { multiple: true, style: 'width: 250px', class: 'cc_user_ids'} %>
              <%= cc_users_js(@cc_users) if @cc_users %>
            </div>
            <div class="field">
              <%= f.label :environments %>
              <%= f.collection_select :environment_ids, @deployment.application.environments.sort_by { |e| e.name }, :id, :name, {}, { multiple: true } %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= t('ticketing_systems.ticketing_system') %>
          </div>
          <div class="panel-body">
            <div class="ticketing_system_fields">
              <div class="field">
                <%= f.label :ticket %><br>
                <%= f.text_field :ticket %>
              </div>

              <% if ticketing_system_enabled?(:jira) %>
              <div class="field">
                <%= f.label :post_deployment_ticketing_system_user, t('deployments.post_deployment_ticket_user') %><br>
                <%= f.text_field :post_deployment_ticketing_system_user %>
              </div>
              <% end %>
              <% if ticketing_system_enabled?(:jira) %>
              <h3 style="padding-top: 40px"><%= t('resource_ticketing_system_permissions.resource_ticketing_system_permissions') %></h3>
              <%= render 'shared/resource_ticketing_system_permissions_fields', form: f, resource: @deployment %>
              <% end %>
            </div>
          </div>
        </div>
        <% if AppConfig.get(%W(akamai_purge enable), APP_CONFIG) %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= t('akamai_purge.akamai_cache_purge_attributes') %>
          </div>
          <div class="panel-body">
            <div class="akamai_purge_fields">
                <div class="field">
                  <%= f.label :akamai_cache_purge, t('akamai_purge.akamai_cache_purge') %><br>
                  <%= f.check_box :akamai_cache_purge %>
                </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div style="margin: auto;
                width: 60%;
                padding: 10px;">
          <%= f.submit %>
        </div>
      </div>
    </div>
      </div>
