<h1><%= t('general.actions.edit') % @deployment.comment %></h1>

<%= form_for(@deployment, :url => application_deployment_path(@application.id, @deployment.id)) do |f| %>
    <%= render 'form', f: f %>
<% end %>
<br />
<br />
<br />
<%= link_to t('general.actions.back'), :back %>
