<h1><%= t('general.new') % t('deployments.deployment') %></h1>

<%= form_for(@deployment, :url => application_deployments_path(@application)) do |f| %>
    <%= render 'form', f: f %>
<% end %>
<br />
<br />
<br />
<%= link_to t('general.actions.back'), :back %>
