<h1><%= link_to @deployment.application.name, @deployment.application %> - <%= @deployment.id %></h1>
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading"><%= t('deployments.deployment_attributes') %></div>

        <table class="table">
          <tr>
            <th><%= t('look_and_feel.account.attributes.name') %></th>
            <th><%= t('look_and_feel.account.attributes.attribute') %></th>
          </tr>
          <tr>
            <td><%= t('applications.application') %></td>
            <td><%= link_to @deployment.application.name, @deployment.application %></td>
          </tr>
          <tr>
            <td><%= t('deployments.comment') %></td>
            <td><%= @deployment.comment %></td>
          </tr>
          <tr>
            <td><%= t('deployments.ticket') %></td>
            <td><%= @deployment.ticket %></td>
          </tr>
          <tr>
            <td><%= t('deployments.post_deployment_ticket_user') %></td>
            <td><%= @deployment.post_deployment_ticketing_system_user %></td>
          </tr>
          <tr>
            <td><%= t('deployments.deployer_comment') %></td>
            <td id="deployment_<%= @deployment.id %>_deployer_comment"><%= @deployment.deployer_comment %></td>
          </tr>
          <tr>
            <td><%= t('deployments.deployment_parameters') %></td>
            <td><%= @deployment.deployment_parameters %></td>
          </tr>
          <tr>
            <td><%= t('deployment_templates.deployment_template') %></td>
            <td><%= @deployment.deployment_template ? link_to(@deployment.deployment_template.name, @deployment.deployment_template) : t('general.not_applicable') %></td>
          </tr>
          <tr>
            <td><%= t('general.created_on') %></td>
            <td><%= @deployment.created_at.strftime(t('general.timestamp_to_str')) %></td>
          </tr>
          <% if AppConfig.get(%W(akamai_purge enable), APP_CONFIG) %>
            <tr>
              <td><%= t('akamai_purge.akamai_cache_purge') %></td>
              <td><%= boolean_to_string @deployment.akamai_cache_purge %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <%= render 'shared/people', { resource: @deployment, api_url: api_application_deployment_path(@deployment.application, @deployment)} %>
    </div>
    <div class="col-md-7">
      <%= render('deployment_environments/deployment_environments', { deployment_environments: @deployment.deployment_environments }) %>
      <%= render 'approvals/approvals', { approvals: @deployment.approvals } if @deployment.application.needs_approvals? %>
    </div>
  </div>
</div>

<span class='actions'>
<% if can? :schedule, Deployment %>
<%= link_to 'Edit', edit_application_deployment_path(@deployment.application, @deployment) %>
<% end %>
<%= link_to 'Back', application_deployments_path(@deployment.application) %>
</span>