    <% if @deployment_module.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@deployment_module.errors.count, "error") %> prohibited this approval group from being saved:</h2>

          <ul>
            <% @deployment_module.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, readonly: true, disabled: true %>
    </div>
    <div class="field">
      <%= f.label :settings %><br />
      <%= f.text_area :settings, :value => @parameters_hash[:settings], :autofocus => true %>
    </div>
    <div class="field">
      <%= f.label :default_parameters_applications %><br />
      <%= f.text_area :default_parameters_applications, :value => @parameters_hash[:default_parameters_applications] %>
    </div>
    <div class="field">
      <%= f.label :default_parameters_deployments %><br />
      <%= f.text_area :default_parameters_deployments, :value => @parameters_hash[:default_parameters_deployments] %>
    </div>
    <div class="field">
      <%= f.label :default_parameters_environments %><br />
      <%= f.text_area :default_parameters_environments, :value => @parameters_hash[:default_parameters_environments] %>
    </div>