<% if deployment_module.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deployment_module.errors.count, "error") %> prohibited this deployment module from being uploaded!</h2>

      <ul>
        <% deployment_module.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="field">
  <%= f.label :module_archive_file %><br />
  <%= f.file_field :module_archive_file %>
</div>