<h1><%= t('general.editing') % @deployment_module.name %></h1>

<%= form_for(@deployment_module, :url => admin_deployment_module_path) do |f| %>
    <%= render 'form', f: f %>

    <div class="actions">
      <%= f.submit t('deployment_modules.update') %>
    </div>
<% end %>
<br />
<br />
<br />
<%= link_to t('general.actions.back'), :back %>
