<br />
<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('deployment_modules.deployment_modules') %>
  </div>
  <div class="panel-body">
    <table class='data_table' id="server_groups_table">
      <thead>
      <tr>
        <th><%= t('deployment_modules.name') %></th>
        <th><%= t('deployment_modules.installed') %></th>
        <th><%= t('deployment_modules.module_version') %></th>
        <th><%= t('general.actions.actions') %></th>
      </tr>
      </thead>
      <tbody>
      <% @deployment_modules.each do |deployment_module| %>
          <tr id="deployment_module_<%= deployment_module.id %>">
            <td><%= link_to deployment_module.name, admin_deployment_module_path(deployment_module) %></td>
            <td><%= t('general.boolean_yes') %></td>
            <td><%= deployment_module.module_version %></td>
            <td>
              <%= link_to(t('deployment_modules.upgrade'), upgrade_admin_deployment_module_path(deployment_module)) if can? :upgrade, DeploymentModule %>
              <%= link_to(t('general.actions.edit'), edit_admin_deployment_module_path(deployment_module)) if can? :edit, DeploymentModule %>
              <%= link_to(t('general.actions.delete'), admin_deployment_module_path(deployment_module), :confirm => t('general.are_you_sure'), :method => :delete) if can? :destroy, DeploymentModule %>
            </td>
          </tr>
      <% end %>
      <% @available_deployment_modules.each do |deployment_module| %>
          <tr id="deployment_module_<%= deployment_module.id %>">
            <td><%= deployment_module.name %></td>
            <td><%= t('general.boolean_no') %></td>
            <td><%= deployment_module.module_version %></td>
            <td>
              <%= link_to(t('deployment_modules.install'), admin_deployment_modules_path(deployment_module: deployment_module.install_parameters), method: :post) if can? :create, DeploymentModule %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<% if can?(:upload, DeploymentModule) and can?(:perform_upload, DeploymentModule) %>
    <span class='actions'>
      <%= link_to t('general.actions.upload'), upload_admin_deployment_modules_path, :id => 'upload_admin_deployment_modules_link' %>
    </span>
<% end %>