<h1><%= t('general.new') % t('deployment_modules.deployment_module') %></h1>

<%= form_for(@deployment_module, :url => admin_deployment_modules_path) do |f| %>
    <%= render 'form', f: f %>

    <div class="actions">
      <%= f.submit t('deployment_modules.create') %>
    </div>
<% end %>
<br />
<br />
<br />
<%= link_to t('general.actions.back'), :back %>
