<h1><%= @deployment_module.name.titleize %></h1>
<br />
<div class="panel panel-default">
  <div class="panel-heading"><%= t('deployment_modules.deployment_module_attributes') %></div>

  <table class="table">
    <tr>
      <th><%= t('look_and_feel.account.attributes.name') %></th>
      <th><%= t('look_and_feel.account.attributes.attribute') %></th>
    </tr>
    <tr>
      <td><%= t('deployment_modules.description') %></td>
      <td><%= @deployment_module.description %></td>
    </tr>
    <tr>
      <td><%= t('deployment_modules.module_version') %></td>
      <td><%= @deployment_module.module_version %></td>
    </tr>
    <tr>
      <td><%= t('deployment_modules.settings') %></td>
      <td><%= @deployment_module.settings %></td>
    </tr>
    <tr>
      <td><%= t('deployment_modules.default_parameters_applications') %></td>
      <td><%= @deployment_module.default_parameters_applications %></td>
    </tr>
    <tr>
      <td><%= t('deployment_modules.default_parameters_deployments') %></td>
      <td><%= @deployment_module.default_parameters_deployments %></td>
    </tr>
    <tr>
      <td><%= t('deployment_modules.default_parameters_environments') %></td>
      <td><%= @deployment_module.default_parameters_environments %></td>
    </tr>
    <tr>
      <td><%= t('deployment_modules.module_path') %></td>
      <td><%= @deployment_module.module_path %></td>
    </tr>
  </table>
</div>
<br />
<%= link_to(t('deployment_modules.upgrade'), upgrade_admin_deployment_module_path(@deployment_module)) if can? :upgrade, DeploymentModule %>
<%= link_to(t('general.actions.edit'), edit_admin_deployment_module_path(@deployment_module)) if can? :edit, DeploymentModule %>
<%= link_to t('general.actions.back'), :back %>