<h1><%= t('general.upload') % t('deployment_modules.deployment_module_archive') %></h1>
<%= form_for(@deployment_module, {url: perform_upgrade_admin_deployment_module_path, multipart: true}) do |f| %>
    <div class="alert-warning">
      <strong><%= t('general.alerts.warning') %>!</strong> <%= t('deployment_modules.alerts.restart_background_process') %>
    </div>

    <%= render 'upload_form', deployment_module: @deployment_module, f: f %>

    <div class="actions">
      <%= f.submit "#{t('deployment_modules.upgrade')} #{t('deployment_modules.deployment_module')}" %>
    </div>
<% end %>