<h1><%= t('general.upload') % t('deployment_modules.deployment_module_archive') %></h1>
<%= form_for(@deployment_module, {url: perform_upload_admin_deployment_modules_path, multipart: true}) do |f| %>
    <%= render 'upload_form', deployment_module: @deployment_module, f: f %>

    <div class="actions">
      <%= f.submit t('deployment_modules.upload') %>
    </div>
<% end %>