<div class="activity">
  <div class="body">
    <span class="mega-icon mega-octicon octicon-<%= t("activity.#{activity.trackable_type.underscore.downcase}.#{activity.key.match(/\.(.*)/)[1]}_icon") %>"></span>
    <%= timeago activity.created_at %>
    <div class="title">
      <% if activity.owner %>
        <%= activity.owner.name %>
      <% else %>
        <%= t('activity.someone') %>
      <% end %>
      <%= content_for :action %>
    </div>
    <div class="details">
      <div class="avatar">
        <% if activity.owner %>
          <%= image_tag activity.owner.gravatar_url, width: '30', height: '30' %>
        <% else %>
          <%= image_tag User.new(email: 'doesnt_exist@example.com').gravatar_url, width: '30', height: '30' %>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </div>
</div>