<html>
  <head>
    <style>
        #header {
            width: 100%;
        }

        #header .navbar {
            margin-bottom: 0px;
        }
        h1 {
            padding-top: 0;
            padding-bottom: 20px;
            height: 15px;
            font-size: 16px;
            font-weight: bold;
            border-bottom: 3px solid #E7E7E7;
            text-align: center;
        }
        #main, #footer {
            width: 65%;
            background-color: transparent;
            margin: 0 auto;
        }

        #header, #main, #footer {
            background-color: transparent;
            margin: 0 auto;
        }
        #footer {
            border-top: 5px solid #E7E7E7;
            margin-top: 10px;
            clear:both;
            padding: 10px 0;
            text-align: center;
            font-size: 11px;
        }

    </style>
  </head>
  <body>
    <div id='header'>
      <h1><%= t('application.name') %></h1>
    </div>
    <div id='main'>
      <%= yield %>
    </div>
    <div id='footer'>
      <%= t('layouts.footer_text').html_safe %><br />
      <%= APPLICATION_VERSION %> <%= APPLICATION_VERSION_TAG %>
    </div>
  </body>
</html>