<%= "* Status: #{state.to_s.titleize}" %>
<%= "* Environment: #{resource.environment.name}" %>
<%= "* Deployed By: #{resource.deployer.name}" if resource.deployer %>
<%= "* Deployer Comment: #{resource.deployer_comment}"  unless resource.deployer_comment.nil? || resource.deployer_comment.blank? %>
<%= "* Updated At: #{Time.now.strftime('%m/%d/%Y %I:%M %p')}" %>